<%= form_with(model: collection, local: true) do |form| %>
  <% if collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
      <% collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :collection_name %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, id: :collection_category %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :collection_price %>
  </div>

  <div class="field">
    <%= form.label :stockdate %>
    <%= form.date_select :stockdate, id: :collection_stockdate %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.text_field :photo, id: :collection_photo %>
  </div>

  <div class="field">
    <%= form.label :details %>
    <%= form.text_field :details, id: :collection_details %>
  </div>

  <div class="field">
    <%= form.label :colors %>
    <%= form.text_field :colors, id: :collection_colors %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size, id: :collection_size %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
