

<% content_for :title, "Shopping Cart" %>

<p id="notice"><%= notice %></p>

<div class="fashion-grid">

  <% @carts.each_with_index do |cart, index| %>
    <div class="fashion-item" id="saved-item-<%= @products[index].id %>">
      <a href="/collections/<%= @products[index].id %>">
        <img src="<%= @products[index].photo %>" height="250px"><br>
        <div class="fashion-name"><%= @products[index].name %></div>
      </a>
        Size: <%= cart.size %>, Color: <%= cart.color %><br>
      <div class="fashion-name">
      $<%= @products[index].price %> x <%= cart.quantity %>
      = $<%= @products[index].price * cart.quantity %><br>
      </div>

    </div>

  <% end %>

</div>

<div class="fashion-item fashion-name">
<h2>Total: $<%= @total %></h2>
</div>
<% if @carts.length > 0 %>
  <%= button_to 'Checkout', @carts.first, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-grad" %>
<% else %>
  <input type="Submit" value="Checkout" class="btn btn-grad">
<% end %>